
.icon-user:before { content: '\e800'; } /* '' */
.icon-lock-open:before { content: '\e801'; } /* '' */
.icon-mail-circled:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */